# Исключаем папки со всеми изображениями (исходными и сгенерированными)
/train/
/test/
/train_structured/
/valid_structured/

# Исключаем артефакты обучения (модели и словари)
*.h5
*.tflite
*.json

# Исключаем стандартные для Python файлы
__pycache__/
*.pyc

# Исключаем папку виртуального окружения
venv/
.venv/